<h1>Edit Task</h1>

<p>you are now editing "<%= @task[:title] %>"</p>
<form action="/tasks/<%= @id %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="patch">
  <label for="name">Title: </label>
  <input type="text" name="task[title]" id="name">

  <label for="address">Details: </label>
  <input type="text" name="task[details]" id="address">

  <label for="completed">Completed </label>
  <input type="checkbox" name="task[completed]" id="completed">

  <input type="submit">
</form>
